table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #12111c;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #9486da;
  }
  tr:nth-child(odd) {
    background-color: #8063c5;
  }

  body{
    background-color: #99eeff;
  }