h1{
    text-align: center;
    background-color: violet;
}
section, top{
    background-color: rgb(160, 112, 231);
    height: 500px;
}
div, diagonal{

    width: 50;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #fff;
    margin-top: -13.9vw;
}
section.bottom{
    background-color: #fff;

}
h1.center{
    margin: 0;
    position: absolute;
    font-size: 15em;
    top: 45vh;
    left: 40vw;
}
h2{
    margin: 0;
}